#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#awol {
    text-align: center;
}

#waa {
    text-align: center;
}

#waf {
    text-align: center;
}

#wa-awol {
    text-align: center;
}

.about {
    text-align: center;
}

#about-us{
    text-decoration: underline;
}

#team {
    text-align: center;
    text-decoration: underline;
}

.team-member {
    text-align: center;
}

#cprt {
    text-align: center;
}